/*  */
figure img {
    width: 150px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin: 0px 20px  40px;
    box-shadow: 2px 2px 10px #959595;
  
}
body{
    font-family: "Roboto", sans-serif;
    background-color: #282929;
    color: #BCC1CA

  
    
}

.redes_socias{
    text-align: center;
}
main{
    width: 60vw;
    margin: 0 auto;

}
figure{
    max-width: 160px;
    max-height: 160px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, p, ul, li, a:-webkit-any-link {
    margin: 0;
    padding: 0;
    list-style: none;
    color: unset;
    text-align: center;
}

section {
    padding: 20px 0;

}

h1{
    /* margin-bottom: 50px;
    text-align: center; */
    /* margin-top: 10px;
    margin-bottom: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
    color: #5E2129; */
    /* margin-top: 0;
    font-style: italic;
    font-size: 18px;
    color: #494949;
    font-weight:100;
    letter-spacing: -1px; */
    margin-bottom: 10px;

}
p{
    text-align: justify;
    margin-bottom: 10px;
}
.card {
   border: 1px solid #C0CDD3;
   box-shadow: 5px 10px 2px 5px rgb(20, 117, 162);
   border-radius: 8px;
   padding: 20px;
}
.card-container {
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.mdi {
    font-size: 30px;
    text-align: justify;
    margin: 50%;
    text-decoration: none;
    width: 20px;
    margin-right:20px;
}

@media (max-width: 860px) {
    main {
        width: 5;
    }
}

